* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}
