@import "@/assets/scss/utils/variables";

.chartLine {
    display: flex;
    flex-direction: column;
    position: relative;
    background: $colorThird;
    border-radius: 5px;
    height: 263px;
    opacity: 0.9;
    font-size: 12px;
    font-weight: $fontWeight;

    h2 {
        color: $colorSecondary;
        font-weight: $fontWeight;
        padding-top: 30px;
        padding-left: 30px;
        font-size: 15px;
        max-width: 200px;
        line-height: 24px;
    }

    .legend {
        display: flex;
        padding-bottom: 25px;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;

        p {
            color: $colorSecondary;
            font-weight: $fontWeight;
        }
    }

    .recharts-tooltip-item-list,
    .xAxis {
        display: none;
    }
}