@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
* {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: none;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .logo {
  margin-top: 150px;
}
.home ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  height: 350px;
}
.home ul li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 15px;
  width: 350px;
  height: 50px;
  background-color: #282d30;
}
.home ul li a {
  width: 100%;
  color: #fcfcfc;
}
.home ul li a:hover {
  color: #ff0000;
  text-decoration: underline;
}

@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}
.notFound {
  background-image: url("https://assets.codepen.io/1538474/star.svg"), linear-gradient(to bottom, #05007a, #4d007d);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  overflow: hidden;
}

.mars {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 27vmin;
  background: url("https://assets.codepen.io/1538474/mars.svg") no-repeat bottom center;
  background-size: cover;
}

.logo-404 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 16vmin;
  width: 30vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
  .logo-404 {
    top: 45vmin;
  }
}

.meteor {
  position: absolute;
  right: 2vmin;
  top: 16vmin;
}

.title {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-top: 31vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
  .title {
    margin-top: 65vmin;
  }
}

.subtitle {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back {
  border: 1px solid white;
  color: white;
  height: 15px;
  padding: 12px;
  text-decoration: none;
  border-radius: 5px;
}
.btn-back:hover {
  background: white;
  color: #4d007d;
}
@media (max-width: 480px) and (min-width: 320px) {
  .btn-back {
    font-size: 3.5vmin;
  }
}

.astronaut {
  position: absolute;
  top: 18vmin;
  left: 10vmin;
  height: 30vmin;
  animation: floating 3s infinite ease-in-out;
}
@media (max-width: 480px) and (min-width: 320px) {
  .astronaut {
    top: 2vmin;
  }
}

.spaceship {
  position: absolute;
  bottom: 15vmin;
  right: 24vmin;
}
@media (max-width: 480px) and (min-width: 320px) {
  .spaceship {
    width: 45vmin;
    bottom: 18vmin;
  }
}

.container {
  background-color: inherit;
  margin-top: 140px;
  margin-left: 210px;
  margin-right: 90px;
  margin-bottom: 88px;
}
.container .content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.container .content .left-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
}
.container .content .left-content > div {
  justify-content: space-around;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
.container .content .left-content > div > div {
  width: 100%;
}
.container .content .right-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20%;
}

/*# sourceMappingURL=style.css.map */
