@import "@/assets/scss/utils/variables";

.loading {
    display: flex;
    flex-direction: row;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: $colorFont;

    &:after {
        content: ".";
        font-size: 220px;
        animation: load 1.5s infinite forwards;
    }

    @keyframes load {
        30% {
            opacity: 0.5;
            content: ".";
        }

        60% {
            content: "..";
        }

        100% {
            content: "...";
        }
    }
}
